PORT=5000
NODE_ENV=development
SUPABASE_URL=https://wudgzyrfeegibybygvzl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1ZGd6eXJmZWVnaWJ5YnlndnpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NzM5MzQsImV4cCI6MjA4OTU0OTkzNH0.We2_EJxvDjIRyyGE8zIvKyjHMFHHQLhKw1H52_YANX8
JWT_SECRET=FemFin_AI_JWT_2026_Production_Ready_Key_At_Least_32_Chars
CLIENT_URL=https://suvithaaaar.github.io/FemFin-AI
XAI_API_KEY=xai-tG0aM3KpSlhQxA6UcuBDfdGmQHS22P38AEMsMVVxU5soSZwIpaOPOZvUdlCVvREMs4uwUU2KQm6aB6no
ENABLE_RATE_LIMIT=true
